In [12]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import json
from scipy.stats import linregress

mlb_locations_data_path = "mlb_stadium.json"
mlb_locations = pd.read_json(mlb_locations_data_path)
#mlb_locations_data.count()

In [13]:
mlb_locations_df = pd.read_json(mlb_locations_data_path)
mlb_locations_df

,team,address,lat,lng
0,Anaheim Angels,"2000 Gene Autry Way, Anaheim, CA. 92806",33.799572,-117.889031
1,Arizona Diamondbacks,"P.O. Box 2095, Phoenix, AZ. 85001",33.452922,-112.038669
2,Atlanta Braves,"P.O. Box 4064, Atlanta, GA. 30302",33.746910,-84.391239
3,Baltimore Orioles,"333 W. Camden Street, Baltimore, MD. 21201",39.285243,-76.620103
4,Boston Red Sox,"4 Yawkey Way, Boston, MA 02215",42.346613,-71.098817
5,Chicago Cubs,"1060 Addison Street, Chicago, IL 60616",41.947201,-87.656413
6,Chicago White Sox,"333 W. 35th Street, Chicago, IL 60616",41.830883,-87.635083
7,Cincinnati Reds,"100 Cinergy Field, Cincinnati, OH 45202",39.107183,-84.507713
8,Cleveland Indians,"2401 Ontario Street, Cleveland, OH 44115",41.495149,-81.687090
9,Colorado Rockies,"Coors Field, 2001 Blake Street, Denver, CO 802...",39.756980,-104.965329
10,Detroit Tigers,"Comerica Park, 2100 Woodward Ave., Detroit, MI...",42.346354,-83.059619
11,Florida Marlins,"2269 NW 199th Street, Miami, FL 33056",25.954428,-80.238164
12,Houston Astros,"P.O. Box 288, Houston, TX 77001-0288",29.760450,-95.369784
13,Kansas City Royals,"P.O. Boz 419969, Kansas City, MO 64141",39.102220,-94.583559
14,Los Angeles Dodgers,"1000 Elysian Park Ave., Los Angeles, CA 90012",34.072437,-118.246879
15,Milwaukee Brewers,"P.O. Box 3099, Milwaukee, WI 53201-3099",43.042050,-87.905599
16,Minnesota Twins,"501 Chicago Ave. S., Minneapolis, MN 55415",44.974346,-93.259616
17,Washington Nationals,"1500 South Capitol Street SE, Washington, DC",38.870000,-77.010000
18,New York Mets,"Roosevelt Ave & 126th Street, New York, NY 11368",40.755350,-73.843219
19,New York Yankees,"Yankee Stadium, E. 161 Street & River Ave., Ne...",40.819782,-73.929939
20,Oakland Athletics,"Oakland Coliseum, 700 Coliseum Way, Oakland, C...",37.749230,-122.196487
21,Philadelphia Phillies,"P.O. Box 7575, Philadelphia, PA 19101",39.952313,-75.162392
22,Pittsburgh Pirates,"600 Stadium Circle, Pittsburgh, PA 15212",40.461503,-80.008924
23,St. Louis Cardinals,"250 Stadium Plaza, St. Louis, MO 63102",38.629683,-90.188247
24,San Diego Padres,"P.O. Box 2000, San Diego, CA 92112-2000",32.752148,-117.143635
25,San Francisco Giants,"Pacific Bell Park, 24 Willie Mays Plaza, San F...",37.779870,-122.389754
26,Seattle Mariners,"P.O. Box 41000, 411 First Ave. S., Seattle, WA...",47.601740,-122.330829
27,Tampa Bay Devil Rays,"1 Tropicana Drive, St. Petersburg, FL 33705",27.768487,-82.648191
28,Texas Rangers,"1000 Ballpark Way, Arlington, TX 76011",32.750156,-97.081117
29,Toronto Blue Jays,"1 Blue Jay Way, Suite 3200, Toronto, ONT M5V 1J1",43.641653,-79.391700

In [18]:
mlb_locations_df.drop(columns=["address"])

                   team        lat         lng
0        Anaheim Angels  33.799572 -117.889031
1                   ARI  33.452922 -112.038669
2                   ATL  33.746910  -84.391239
3                   BAL  39.285243  -76.620103
4                   BOS  42.346613  -71.098817
5                   CHN  41.947201  -87.656413
6                   CHA  41.830883  -87.635083
7                   CIN  39.107183  -84.507713
8                   CLE  41.495149  -81.687090
9                   COL  39.756980 -104.965329
10                  DET  42.346354  -83.059619
11      Florida Marlins  25.954428  -80.238164
12                  HOU  29.760450  -95.369784
13                  KCA  39.102220  -94.583559
14                  LAN  34.072437 -118.246879
15                  MIL  43.042050  -87.905599
16                  MIN  44.974346  -93.259616
17                  WAS  38.870000  -77.010000
18                  NYN  40.755350  -73.843219
19                  NYA  40.819782  -73.929939
20                  OAK  37.749230 -122.196487
21                  PHI  39.952313  -75.162392
22                  PIT  40.461503  -80.008924
23  St. Louis Cardinals  38.629683  -90.188247
24                  SDN  32.752148 -117.143635
25                  SFN  37.779870 -122.389754
26                  SEA  47.601740 -122.330829
27                  TBA  27.768487  -82.648191
28                  TEX  32.750156  -97.081117
29                  TOR  43.641653  -79.391700

In [25]:
replaced_dict = {'Anaheim Angels':'LAA',
                'Arizona Diamondbacks': 'ARI', 
                'Atlanta Braves':'ATL',
                'Baltimore Orioles':'BAL',
                'Boston Red Sox':'BOS',
                'Chicago Cubs':'CHN',
                'Chicago White Sox':'CHA',
                'Cincinnati Reds':'CIN',
                'Cleveland Indians':'CLE',
                'Colorado Rockies':'COL',
                'Detroit Tigers':'DET',
                'Houston Astros':'HOU',
                'Kansas City Royals':'KCA',
                'Los Angeles Dodgers':'LAN',
                'Florida Marlins':'MIA',
                'Milwaukee Brewers':'MIL',
                'Minnesota Twins':'MIN',
                'New York Mets':'NYN',
                'New York Yankees':'NYA',
                'Oakland Athletics':'OAK',
                'Philadelphia Phillies':'PHI',
                'Pittsburgh Pirates':'PIT',
                'San Diego Padres':'SDN',
                'San Francisco Giants':'SFN',
                'Seattle Mariners':'SEA',
                'St. Louis Cardinals':'SLN',
                'Tampa Bay Devil Rays':'TBA',
                'Texas Rangers':'TEX',
                'Toronto Blue Jays':'TOR',
                'Washington Nationals':'WAS'}
mlb_locations_df.replace(replaced_dict, inplace= True)
mlb_locations_df_group = mlb_locations_df.groupby(['team']).sum()
mlb_locations_df_group.head(29)

            lat         lng
team
ARI   33.452922 -112.038669
ATL   33.746910  -84.391239
BAL   39.285243  -76.620103
BOS   42.346613  -71.098817
CHA   41.830883  -87.635083
CHN   41.947201  -87.656413
CIN   39.107183  -84.507713
CLE   41.495149  -81.687090
COL   39.756980 -104.965329
DET   42.346354  -83.059619
HOU   29.760450  -95.369784
KCA   39.102220  -94.583559
LAA   33.799572 -117.889031
LAN   34.072437 -118.246879
MIA   25.954428  -80.238164
MIL   43.042050  -87.905599
MIN   44.974346  -93.259616
NYA   40.819782  -73.929939
NYN   40.755350  -73.843219
OAK   37.749230 -122.196487
PHI   39.952313  -75.162392
PIT   40.461503  -80.008924
SDN   32.752148 -117.143635
SEA   47.601740 -122.330829
SFN   37.779870 -122.389754
SLN   38.629683  -90.188247
TBA   27.768487  -82.648191
TEX   32.750156  -97.081117
TOR   43.641653  -79.391700

In [33]:
df=mlb_locations_df
df.to_csv('../data/mlb_locations.csv')